<div class="formulario">
    <h1>Nueva Noticia</h1>
    <div class="formulario-cont">
      <label for="name">Título</label>
      <input type="text" placeholder="Introduce un título" [(ngModel)]="newNews.title">
    </div>

    <div class="formulario-cont">
      <label for="image">URL de la imagen</label>
      <input type="text" placeholder="Introduce una URL" [(ngModel)]="newNews.image">
    </div>

    <div class="formulario-cont">
      <label for="text">Cuerpo</label>
      <input type="text" placeholder="Introduce un texto" [(ngModel)]="newNews.text">
    </div>

    <div class="formulario-cont">
      <label for="date">Fecha de publicación</label >
      <input type="date" [(ngModel)]="newNews.date">
    </div>

    <button (click)="saveNews()" class="button">Publicar</button>
</div>


